* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(125,125,236);
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .navbar a:hover {
    color: black;
  }
  .main-section {
      background-image: image();
  }