@model Route

<div id="carouselExampleInterval" class="carousel slide position-relative" data-bs-ride="carousel">
    <form asp-controller="Home" asp-action="Ticket" method="post" class="position-absolute" style="z-index:500!important; left:35%;top:2%;">
        <div class="card border-0" style="opacity:0.8">
            <div class="row" style="width:500px;">
                <div class="card-body card text-center">
                    <label style="font-size:large;">NEREDEN</label>
                    <select asp-for="FromWhere" class="form-select">
                        <option selected disabled>Şehir Seçiniz</option>
                        @foreach (var city in ViewBag.cities)
                        {
                            <option>@city.CityName</option>
                        }
                    </select>
                    <label style="font-size:large;">NEREYE</label>
                    <select asp-for="ToWhere" class="form-select">
                        <option selected disabled>Şehir Seçiniz</option>
                        @foreach (var city in ViewBag.cities)
                        {
                            <option>@city.CityName</option>
                        }
                    </select>
                    <label style="font-size:large;">Tarih</label>
                    <input asp-for="Date" class="form-control" type="date" />
                    <br />
                    <input type="submit" class="btn btn-sm btn-success" value="SEFER SORGULA">
                </div>
            </div>
        </div>
    </form>
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 500px;" data-bs-interval="2000">
            <img src="https://www.academic-tour.com/resim/media/antiochos.jpg" class="d-block w-100 h-100" alt="...">
        </div>
        <div class="carousel-item " style="height: 500px;" data-bs-interval="2000">
            <img src="/img/ist-canakkale.png" class="d-block w-100 h-100" alt="...">

        </div>
        <div class="carousel-item " style="height: 500px;">
            <img src="https://d3rh8btizouuof.cloudfront.net/images/sicakikramlar2021_web1.png" class="d-block w-100 h-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-4">
            <div class="card border-0 text-dark">
                <img src="https://d3rh8btizouuof.cloudfront.net/images/sehir/izmir.jpg" class="card-img p-1" alt="..." height="200">
                <div class="card-img-overlay">
                    <h5 class="card-title">İzmir</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-0 text-dark">
                <img src="https://d3rh8btizouuof.cloudfront.net/images/sehir/denizli.jpg" class="card-img p-1" alt="..."height="200">
                <div class="card-img-overlay">
                    <h5 class="card-title">Denizli</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-0 text-dark">
                <img src="https://d3rh8btizouuof.cloudfront.net/images/sehir/antalya.jpg" class="card-img p-1" alt="..."height="200">
                <div class="card-img-overlay">
                    <h5 class="card-title">Antalya</h5>
                </div>
            </div>
        </div>

    </div>
</div>
