<h6 class="display-4">Forgot Password</h6>
<hr />
<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label">Kayıtlı email adresinizi giriniz:</label>
                <div class="col-sm-8">
                    <input type="email" name="email" class="form-control" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="col-sm-8 offset-sm-4">
                    <button type="submit"  class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>