<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MiniShopApp.WebUI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MiniShop" asp-action="List" asp-route-category="">Products</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a href="/admin/products" class="nav-link text-dark">Admin Products</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login" asp-route-category="">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/account/register" class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register" asp-route-category="">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>