*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
}
@media(max-width:750px){
    nav{
        display: block !important;
    }
}
@media(min-width:450px){
    nav{
        display: none !important;
    }
}