@model Product

<h5 class="display-4">Category Create</h5>
<hr />
<form asp-controller="Admin" asp-action="CategoryCreate" method="post">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group row mb-2">
                <label class="col-form-label col-sm-3">Name</label>
                <div class="col-sm-9">
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-form-label col-sm-3">Description</label>
                
            </div>
        </div>
    </div>
</form>