@model Teacher

@{ 
    string path = "/images/" + Model.Gender + ".png";
    bool hasFooter = (bool)ViewData["HasFooter"];
}

<div class="card m-3" style="min-width:18rem;max-width:18rem;">
    <div class="card-header">
        @Model.Name
    </div>
    <img src="@path" class="card-img-top" />
    @if (hasFooter)
    {
        <div class="card-footer">
            <a asp-controller="teacher" asp-action="DeleteTeacher" class="btn btn-danger" asp-route-id="@Model.ID">Sil</a>
        </div>
    }

</div>